* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, ol {
	margin: 2px 10px 2px 10px;
	padding: 0;
	list-style-position: inside;
}

li {
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.flex-container-1{
	background-color: floralwhite;
	display: flex;
	gap: 10px;
	width: 100%;
	justify-content: space-between;
	padding: 10px;
	font-size: 40px;
	font-family: Marco, serif
}


.header1{
	text-align: center;
}

.grid-container1{
	display: grid;
	margin: 10px;
	justify-content: center;
	align-items: start;
	grid-template-columns: 300px 300px 300px 300px;
	text-align: center;
}

.grid-item2{
	width:120%;
	height: auto;
}

.header2{
	text-align: center;
}

.grid-container2 {
	display: grid;
	margin: 10px;
	justify-content: center;
	grid-template-columns: 280px 280px 280px 280px;
	text-align: center;
	grid-gap: 40px;
}

.header3{
	text-align: center;
}

.grid-container3 {
	display: grid;
	margin: 10px;
	justify-content: center;
	grid-template-columns: 280px 280px 280px;
	text-align: center;
	grid-gap: 40px;
}

.flex-container-din-mor{
	background-color: floralwhite;
	display: flex;
	gap: 10px;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
	font-size: 15px;
	font-family: Marco, serif
}



